.addLink-container {
  margin: 1.25rem auto;
  padding: 0 1rem;
  display: block;
}

.addLink-title {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 0.3125rem 1.25rem 0.3125rem;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.addLink-prompt {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1.625rem;
  margin: 0 0.3125rem 0.125rem 0.3125rem;
}

.addLink-prompt-bottom-margin {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1.625rem;
  margin: 0 0.3125rem 0.625rem 0.3125rem;
}

.addLink-action-label {
  color: #f2f2f2;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 0 0.3125rem 0.875rem 0.3125rem;
}

.addLink-action-label-warning {
  color: #e2924e;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 0 0.3125rem 0.875rem 0.3125rem;
}

.addLink-input {
  background-color: #4a4a64;
  border-radius: 0.3125rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 0.625rem;
  border: none;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.addLink-input-margin {
  background-color: #4a4a64;
  border-radius: 0.3125rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 0.625rem;
  border: none;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 1rem;
}

.addLink-input-textarea {
  background-color: #4a4a64;
  border-radius: 0.3125rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 0.625rem;
  border: none;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 1.25rem;
  resize: vertical;
}

.addLink-input-textarea-margin {
  background-color: #4a4a64;
  border-radius: 0.3125rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 0.625rem;
  border: none;
  border-color: transparent;
  margin-top: 0.875rem;
  margin-bottom: 1rem;
  resize: vertical;
}

.addLink-input:focus {
  border: none;
  border-color: transparent;
  outline-color: #f2f2f2 !important;
}

.addLink-label {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
  margin: -0.625rem 0.3125rem 1.25rem 0.3125rem;
}

.addLink-label-success {
  color: #4ee28c;
  font-weight: 300;
  font-size: 0.75rem;
  margin: 0 0.3125rem 1.25rem 0.3125rem;
  text-align: center;
}

.addLink-label-success-no-margin {
  color: #4ee28c;
  font-weight: 300;
  font-size: 0.75rem;
  text-align: center;
}

.addLink-label-prompt-add-manually {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
  margin: 1rem 0.3125rem 1rem 0.3125rem;
}

.addLink-label-center {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
  margin: -0.625rem 0.3125rem 1.25rem 0.3125rem;
  text-align: center;
}

.addLink-label-error {
  color: #e2924e;
  font-weight: 300;
  font-size: 0.75rem;
  margin: -0.625rem 0.3125rem 1.25rem 0.3125rem;
}

.addLink-label-error-links {
  color: #e2924e;
  font-weight: 400;
  font-size: 0.75rem;
  margin: -0.375rem 0.3125rem 0.75rem 0.3125rem;
}

.addLink-label-error-display-block {
  display: block;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.75rem;
  margin: -0.625rem 0.3125rem 1.875rem 0.3125rem;
}

.addLink-label-url {
  color: #538fff;
  font-weight: 400;
  font-size: 0.875rem;
  margin: -0.625rem 0.3125rem 1.25rem 0.3125rem;
  text-decoration: underline;
}

.addLink-label-url-failedLinks {
  display: block;
  max-width: 100%;
  color: #538fff;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0.3125rem 1.25rem 0.3125rem;
  text-decoration: underline;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.addLink-primary-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0 0 0.375rem 0;
  cursor: pointer;
}

.addLink-secondary-button {
  display: block;
  background-color: #282840;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.625rem 0 0 0;
  cursor: pointer;
}

.addLink-clear-button {
  display: block;
  background-color: #282840;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}

.addLink-clear-button-small-margin {
  display: block;
  background-color: #282840;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.625rem 0 0.875rem 0;
  cursor: pointer;
}

.addLink-cancel-button {
  display: block;
  color: #d3d3d3;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.addLink-addLinkManually-label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.25rem 0 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addLink-addLinkManually-label {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
  margin: 0 0.3125rem 0 0.3125rem;
}

.addLink-addLinkManually-label-failedLinks-prompt {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 0.625rem 0.3125rem 0.5rem 0.3125rem;
}

.addLink-addLinkManually-label-failedLinks {
  color: #f2f2f2;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 0 0.3125rem 0.3125rem 0.3125rem;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.addLink-addLinkManually-label-url {
  color: #538fff;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0.3125rem 0 0.3125rem;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 38.75em) {
  .addLink-main-overall-container {
    padding: 1.5rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .addLink-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
}

@media only screen and (min-width: 61.25em) {
  .addLink-main-overall-container {
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
  }
  .addLink-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
}
/*# sourceMappingURL=AddLink.css.map */