.album-container {
  margin: 0 auto 1.25rem auto;
}

.album-likes-container {
  margin: 0 auto 2rem auto;
}

.album-albums-container {
  display: block;
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.album-img {
  width: 100%;
  height: 8.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 0.3125rem;
}

.album-details-container {
  display: block;
  padding: 0.5rem 0 0 0;
  margin: 0;
  width: 100%;
}

.album-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.3125rem;
}

.album-details-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

.album-title {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1rem;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.album-icon-div {
  height: 1.375rem;
  width: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.album-privateIcon {
  height: 1.25rem;
  width: 0.9375;
  margin-right: 0.5rem;
}

.album-moreButton {
  height: 0.375rem;
  width: 1.375rem;
}

.album-likeButton {
  height: 1.25rem;
  width: 1.375rem;
}

.album-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0.3125rem;
}

.album-metadata-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.album-metadata-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album-metadata-text {
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.625rem;
}

.album-likesIcon {
  width: 0.75rem;
  height: 0.6875rem;
  margin-right: 0.375rem;
}

.album-viewsIcon {
  width: 1rem;
  height: 0.6875rem;
  margin-right: 0.375rem;
}

.album-user-display-container {
  margin-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0.3125rem;
}

.album-user-display-img {
  height: 2.1875rem;
  width: 2.1875rem;
  min-width: 2.1875rem;
  max-width: 2.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: none;
  margin: 0 1rem 0 0;
}

.album-user-display-name {
  color: #d3d3d3;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
}

.album-button-container {
  margin: 0 auto 1rem auto;
  padding: 0 1rem;
}

.album-primary-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  margin: 1.875rem 0;
  text-align: center;
}

.album-primary-top-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  margin: 1rem 0 0 0;
  text-align: center;
}

.album-secondary-button {
  display: block;
  background-color: #373753;
  color: #989898;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  margin: 1.875rem 0;
  text-align: center;
}

.album-secondary-top-button {
  display: block;
  background-color: #373753;
  color: #989898;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  margin: 1rem 0 0 0;
  text-align: center;
}

.album-label-error {
  display: block;
  margin-top: -0.8125rem;
  margin-bottom: 1.25rem;
  margin-left: 0.3125rem;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.875rem;
}

.album-label-top-error {
  display: block;
  margin-left: 0.3125rem;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.875rem;
}

.album-more-container {
  width: 100%;
  height: 8.875rem;
  background-color: #282840;
  padding: 0.625rem 1rem;
  display: block;
  border: none;
  border-radius: 0.3125rem;
  text-align: center;
  margin: 0 0 0.375rem 0;
}

.album-more-primary-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.album-more-secondary-button {
  display: block;
  background-color: #4a4a64;
  color: #d3d3d3;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.625rem 0 0 0;
  text-align: center;
  cursor: pointer;
}

.album-more-delete-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.375rem 0 0 0;
  text-align: center;
  cursor: pointer;
}

.album-more-cancel-button {
  display: block;
  margin-top: 0.625rem 0 0 0;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}

.album-more-delete-text-container {
  display: block;
  padding: 0.3125rem 1rem;
  width: 100% !important;
  border: none;
  margin: 0;
}

.album-more-delete-text {
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

@media only screen and (max-width: 21.875em) {
  .album-more-container {
    width: 100%;
    height: 8.875rem;
    background-color: #282840;
    padding: 0.625rem 1rem;
    display: block;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    margin: 0 0 0.375rem 0;
  }
  .album-more-primary-button {
    display: block;
    background-color: #f22b3e;
    color: #f2f2f2;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0;
    text-align: center;
  }
  .album-more-secondary-button {
    display: block;
    background-color: #4a4a64;
    color: #d3d3d3;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.625rem 0 0 0;
    text-align: center;
  }
  .album-more-delete-button {
    display: block;
    background-color: #f22b3e;
    color: #f2f2f2;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.375rem 0 0 0;
    text-align: center;
  }
  .album-more-cancel-button {
    display: block;
    margin-top: 0.625rem 0 0 0;
    color: #f2f2f2;
    font-weight: 300;
    font-size: 0.875rem;
  }
  .album-more-delete-text-container {
    display: block;
    padding: 0.3125rem 1rem;
    width: 100% !important;
    border: none;
    margin: 0;
  }
  .album-more-delete-text {
    color: #f2f2f2;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
  }
}

@media only screen and (min-width: 25em) {
  .album-img {
    width: 100%;
    height: 10.25rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 0.3125rem;
  }
  .album-more-container {
    width: 100%;
    height: 10.25rem;
    background-color: #282840;
    padding: 0.625rem 1rem;
    display: block;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    margin: 0 0 0.375rem 0;
  }
}

@media only screen and (min-width: 38.75em) {
  .album-main-container {
    padding: 1.5rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .album-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
  .album-img {
    width: 100%;
    height: 12.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 0.3125rem;
  }
  .album-more-container {
    width: 100%;
    height: 12.5rem;
    background-color: #282840;
    padding: 0.625rem 1rem;
    display: block;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    margin: 0 0 0.375rem 0;
  }
}

@media only screen and (min-width: 61.25em) {
  .album-main-container {
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
  }
  .album-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
  .album-img {
    width: 100%;
    height: 12.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 0.3125rem;
  }
  .album-more-container {
    width: 100%;
    height: 12.5rem;
    background-color: #282840;
    padding: 0.625rem 1rem;
    display: block;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    margin: 0 0 0.375rem 0;
  }
}
/*# sourceMappingURL=Album.css.map */