@import "../scssVariables/variables.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: $bgColor;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: $bgColor3;
}

//620PX SCREEN SIZE (NORMAL TABLET)
@media only screen and (min-width: 38.75em) {
  // html {
  //   box-sizing: border-box;
  //   font-size: 18px;
  //   background-color: $bgColor;
  // }
}

//980PX SCREEN SIZE (NORMAL TABLET)
@media only screen and (min-width: 61.25em) {
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
  color: $primaryText;
}

a {
  text-decoration: none;
}

// ::placeholder {
//   /* Chrome, Firefox, Opera, Safari 10.1+ */
//   color: $tertiaryText;
//   opacity: 1; /* Firefox */
// }

// :-ms-input-placeholder {
//   /* Internet Explorer 10-11 */
//   color: $tertiaryText;
// }

// ::-ms-input-placeholder {
//   /* Microsoft Edge */
//   color: $tertiaryText;
// }

.label-verification {
  background-color: $bgColor1;
  border-radius: 0.3125rem;
  padding: 1rem;
  margin: 1rem 1rem;
  color: $secondaryText;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}

.label-verification-yellow {
  background-color: $bgColorVerification;
  border-radius: 0.3125rem;
  padding: 1rem;
  margin: 0 1rem;
  color: $blackText;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
}

.popup {
  display: inline-block;
  border-radius: 0.3125rem;
  background-color: $tertiaryText;
  position: fixed;
  z-index: 1;
  padding: 0.3125rem 0.625rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.popup-text {
  font-weight: 300;
  font-size: 0.75rem;
  color: white;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
