@import "../scssVariables/variables.scss";

html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: $bgColor;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
  color: $primaryText;
}

a {
  text-decoration: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $tertiaryText;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $tertiaryText;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $tertiaryText;
}

.label-verification {
  background-color: $bgColor1;
  border-radius: 0.3125rem;
  padding: 1rem;
  margin: 2.5rem 1rem 0 1rem;
  color: $secondaryText;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}

.label-verification-yellow {
  background-color: $bgColorVerification;
  border-radius: 0.3125rem;
  padding: 1rem;
  margin: 2.5rem 1rem 0 1rem;
  color: $blackText;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
}
