.link-main-container {
  margin: 1.875rem auto 1.25rem auto;
  display: block;
  padding: 0 1rem;
}

.link-likes-container {
  margin: 1.875rem auto 2rem auto;
  display: block;
  padding: 0 1rem;
}

.link-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-img {
  height: 3.75rem;
  min-height: 3.75rem;
  max-height: 3.75rem;
  width: 3.75rem;
  min-width: 3.75rem;
  max-width: 3.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
}

.link-details-container {
  width: 14.6875rem;
  height: auto;
  display: block;
  padding-top: 0.3125rem;
}

.link-title {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.link-desc {
  color: #989898;
  font-weight: 300;
  font-size: 0.75rem;
  margin: 0.3125rem 0 0 0;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.link-icon-container {
  display: block;
  margin: 0 0 0 auto;
}

.link-icon-div {
  display: block;
  height: 1.375rem;
  width: 2.375rem;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.link-like-icon-div {
  display: block;
  height: auto;
  width: 2.375rem;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.link-moreButton {
  height: 0.375rem;
  width: 1.375rem;
}

.link-likeButton {
  height: 1.25rem;
  width: 1.375rem;
}

.link-like-count {
  margin: 0.125rem 0 0 0;
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
}

.link-hr-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.link-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0.125rem;
  width: 100%;
  margin: 0.5rem 0.3125rem 0.75rem 0;
  border-color: rgba(255, 255, 255, 0.08);
}

.link-more-container {
  width: 14.6875rem;
  height: 4.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282840;
  padding: 0.625rem 1rem;
  text-align: center;
  float: right;
  border: none;
  border-radius: 0.3125rem;
}

.link-more-secondary-button {
  display: block;
  background-color: #4a4a64;
  color: #d3d3d3;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 2rem;
  width: auto;
  border: none;
  border-radius: 0.3125rem;
  margin: 0;
  cursor: pointer;
}

.link-more-delete-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 3rem;
  width: auto;
  border: none;
  border-radius: 0.3125rem;
  margin: 0;
  cursor: pointer;
}

.link-more-cancel-button {
  display: block;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 1rem;
  cursor: pointer;
}

.link-more-delete-text-container {
  display: block;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  margin: 0;
  cursor: pointer;
}

.link-more-delete-text {
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.link-more-delete-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0.625rem 0;
}

.link-delete-main-container {
  width: 100%;
  height: auto;
  background-color: #282840;
  padding: 0.625rem 1rem;
  display: block;
  border: none;
  border-radius: 0.3125rem;
  text-align: center;
  margin: 0 0 0.375rem 0;
}

.link-delete-text {
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

@media only screen and (max-width: 21.875em) {
  .link-details-container {
    width: 11.625rem;
    height: auto;
    display: block;
    padding-top: 0.3125rem;
  }
}

@media only screen and (min-width: 26.25em) {
  .link-details-container {
    width: 17.5rem;
    height: auto;
    display: block;
    padding-top: 0.3125rem;
  }
}

@media only screen and (min-width: 31.25em) {
  .link-details-container {
    width: 20.625rem;
    height: auto;
    display: block;
    padding-top: 0.3125rem;
  }
}

@media only screen and (min-width: 38.75em) {
  .link-main-overall-container {
    padding: 1.5rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .link-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
}

@media only screen and (min-width: 45em) {
  .link-details-container {
    width: 23.125rem;
    height: auto;
    display: block;
    padding-top: 0.3125rem;
  }
}

@media only screen and (min-width: 61.25em) {
  .link-main-overall-container {
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
  }
  .link-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem 1rem;
    width: 38rem;
  }
}
/*# sourceMappingURL=Link.css.map */