@import "../scssVariables/variables.scss";

.manageAccount {
  &-container {
    margin: 1.25rem auto 2rem auto;
    display: block;
    padding: 0 1rem;
  }

  &-title {
    color: $primaryText;
    font-weight: 700;
    font-size: 1.375rem;
    margin: 0 0 1.5625rem 0;
  }

  &-profileImg-container {
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }

  &-profileImg {
    height: 6.25rem;
    min-width: 6.25rem;
    width: 6.25rem;
    max-width: 6.25rem;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    margin: 0 0 1rem 0;

    &-loading {
      height: 6.25rem;
      width: 6.25rem;
      min-width: 6.25rem;
      max-width: 6.25rem;
      border-radius: 50%;
      border: none;
      margin: 0 0 1rem 0;
      background-color: $tertiaryText;
      object-fit: cover;
    }

    &-button {
      color: $bgColorPrimaryButton;
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      width: auto;
      cursor: pointer;
    }
  }

  &-form {
    display: block;
    margin: 1.5625rem auto 0 auto;
  }

  &-input {
    background-color: $bgColor3;
    border-radius: 0.3125rem;
    color: $primaryText;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem 0.625rem;
    border: none;
    border-color: transparent;
    margin-top: 0;
    margin-bottom: 1.25rem;

    &-textarea {
      background-color: $bgColor3;
      border-radius: 0.3125rem;
      color: $primaryText;
      font-weight: 300;
      font-size: 1rem;
      width: 100%;
      padding: 0.75rem 0.625rem;
      border: none;
      border-color: transparent;
      margin-top: 0;
      margin-bottom: 0.875rem;
      resize: none;
    }
  }

  &-input:focus {
    border: none;
    border-color: transparent;
    outline-color: $primaryText !important;
  }

  &-input-textarea:focus {
    border: none;
    border-color: transparent;
    outline-color: $primaryText !important;
  }

  &-errors {
    display: block;
    margin-top: -0.8125rem;
    margin-bottom: 1.25rem;
    margin-left: 0.3125rem;
    color: $bgColorError;
    font-weight: 300;
    font-size: 0.75rem;

    &-alt {
      display: block;
      margin-top: 0.3125rem;
      margin-bottom: 0.8125rem;
      color: $bgColorError;
      font-weight: 300;
      font-size: 0.75rem;
    }
  }

  &-primary-button {
    display: block;
    background-color: $bgColorPrimaryButton;
    color: $primaryText;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.75rem 0;
    text-align: center;
    cursor: pointer;
  }

  &-secondary-button {
    display: block;
    background-color: $bgColor2;
    color: $primaryText;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.75rem 0 0 0;
    text-align: center;
    cursor: pointer;
  }

  &-disabled-button {
    display: block;
    background-color: $tertiaryText;
    color: $bgColor;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.625rem 1rem;
    width: 100% !important;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.75rem 0 0 0;
    text-align: center;
  }

  &-cancel-button {
    display: block;
    margin: 1.25rem 0 0 0;
    text-align: center;
    color: $primaryText;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
  }

  //620PX SCREEN SIZE (LARGER TABLET)
  @media only screen and (min-width: 38.75em) {
    &-main-overall-container {
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: center;
    }

    &-card-container {
      background-color: $bgColorDiv;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem 1rem;
      width: 38rem;
    }
  }

  //980PX SCREEN SIZE (DESKTOP SMALL)
  @media only screen and (min-width: 61.25em) {
    &-main-overall-container {
      padding: 1.5rem 1rem;
      display: flex;
      justify-content: center;
      margin: 0 0 0 auto;
    }

    &-card-container {
      background-color: $bgColorDiv;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem 1rem;
      width: 38rem;
    }
  }
}
