@import "../scssVariables/variables.scss";

.notifications {
  &-main-container {
    margin: 1rem auto 1.25rem auto;
    padding: 0;
    display: block;
  }

  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    height: auto;
  }

  &-link {
    height: 3.4375rem;
    width: 3.4375rem;
    margin: 0 1rem 0 0;
  }

  &-sender-profileImg {
    border-radius: 50%;
    height: 3.4375rem;
    min-height: 3.4375rem;
    max-height: 3.4375rem;
    width: 3.4375rem;
    min-width: 3.4375rem;
    max-width: 3.4375rem;
    object-fit: cover;
    margin: 0 1rem 0 0;

    &-loading {
      border-radius: 50%;
      height: 3.4375rem;
      min-height: 3.4375rem;
      max-height: 3.4375rem;
      width: 3.4375rem;
      min-width: 3.4375rem;
      max-width: 3.4375rem;
      background-color: $bgColor3;
      margin: 0 1rem 0 0;
    }
  }

  &-default-title {
    color: $secondaryText;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem 1rem;
    text-align: center;
  }

  &-details-container {
    display: block;
    margin: 0.125rem auto 0 auto;
    padding: 0;
    width: 100%;
  }

  &-details {
    &-action {
      width: 100%;
      max-width: 100%;
      color: $primaryText;
      font-weight: 400;
      font-size: 0.875rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;

      &-loading {
        width: 100%;
        max-width: 100%;
        height: 0.875rem;
        margin: 0;
        display: -webkit-box;
        background-color: $bgColor3;
      }
    }

    &-contentCreatedAt {
      color: $tertiaryText;
      font-weight: 300;
      font-size: 0.75rem;
      margin: 0.25rem 0 0 0;

      &-loading {
        height: 0.75rem;
        width: 20%;
        margin: 0.25rem 0 0 0;
        background-color: $bgColor3;
      }
    }
  }

  &-contentImg {
    border-radius: 0.3125rem;
    height: 3.4375rem;
    min-height: 3.4375rem;
    max-height: 3.4375rem;
    width: 3.4375rem;
    min-width: 3.4375rem;
    max-width: 3.4375rem;
    object-fit: cover;
    margin: 0 0 0 1rem;

    &-loading {
      border-radius: 0.3125rem;
      height: 3.4375rem;
      min-height: 3.4375rem;
      max-height: 3.4375rem;
      width: 3.4375rem;
      min-width: 3.4375rem;
      max-width: 3.4375rem;
      background-color: $bgColor3;
      margin: 0 0 0 1rem;
    }
  }

  //480PX SCREEN SIZE
  @media only screen and (min-width: 30em) {
    &-container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1rem;
      width: 100%;
      height: auto;
    }

    &-details-container {
      display: block;
      margin: 0.125rem 0 0 auto;
      padding: 0 1rem 0 0;
      width: 100%;
    }

    &-contentImg {
      border-radius: 0.3125rem;
      height: 3.4375rem;
      min-height: 3.4375rem;
      max-height: 3.4375rem;
      width: 3.4375rem;
      min-width: 3.4375rem;
      max-width: 3.4375rem;
      object-fit: cover;
      margin: 0 0 0 auto;
    }
  }

  //620PX SCREEN SIZE (LARGER TABLET)
  @media only screen and (min-width: 38.75em) {
    &-main-overall-container {
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: center;
    }

    &-card-container {
      background-color: $bgColorDiv;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem 1rem;
      width: 38rem;
    }

    &-default-title {
      color: $secondaryText;
      font-weight: 400;
      font-size: 1rem;
      margin: 1rem 0;
      text-align: center;
    }
  }

  //980PX SCREEN SIZE (DESKTOP SMALL)
  @media only screen and (min-width: 61.25em) {
    &-main-overall-container {
      padding: 1.5rem 1rem;
      display: flex;
      justify-content: center;
      margin: 0 0 0 auto;
    }

    &-card-container {
      background-color: $bgColorDiv;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem 1rem;
      width: 38rem;
    }
  }
}
