@import "../scssVariables/variables.scss";

.profileCardMain {
  &-main-container {
    display: none;
  }

  //980PX SCREEN SIZE (DESKTOP SMALL)
  @media only screen and (min-width: 61.25em) {
    &-main-container {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 4.5rem;
      z-index: -1;
      max-height: 37.5rem;
      width: 22rem;
      display: block;
      border-radius: 0.3125rem;
      padding: 1.5rem 1rem;
      margin: 0 auto 0 0;
    }

    &-main-container-auto-width {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 4.5rem;
      z-index: -1;
      max-height: 37.5rem;
      display: block;
      border-radius: 0.3125rem;
      margin: 0 auto 0 0;
    }

    &-top-container {
      background-color: $bgColor2;
      display: block;
      padding: 2rem 1rem;
      text-align: center;
      border-radius: 0.3125rem 0.3125rem 0 0;
    }

    &-img {
      border-radius: 50%;
      height: 6.25rem;
      width: 6.25rem;
      object-fit: cover;
      margin: 0 0 1rem 0;
    }

    &-username {
      color: $primaryText;
      font-weight: 400;
      font-size: 1rem;
      margin: 0 0 0.312rem 0;
    }

    &-details-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-details {
      color: $secondaryText;
      font-weight: 300;
      font-size: 0.875rem;
      margin: 0 1rem 0 0;
    }

    &-bottom-container {
      background-color: $bgColorDiv;
      display: block;
      padding: 2rem 1rem;
      border-radius: 0 0 0.3125rem 0.3125rem;
    }

    &-name {
      color: $primaryText;
      font-weight: 400;
      font-size: 1rem;
      margin: 0 0 0.1875rem 0;
    }

    &-other-details {
      margin: 0.125rem;
      color: $tertiaryText;
      font-weight: 300;
      font-size: 0.875rem;
    }

    &-website-link {
      margin: 0.125rem 0 0 0;
      color: $bgColorLink;
      font-weight: 300;
      font-size: 0.875rem;
    }
  }
}
