.updatePassword-container {
  margin: 1.25rem auto 1.25rem auto;
  display: block;
  padding: 0 1rem;
}

.updatePassword-title {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1.375rem;
  margin: 0 0 1.25rem 0.3125rem;
}

.updatePassword-input {
  background-color: #4a4a64;
  border-radius: 0.3125rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 0.625rem;
  border: none;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 0.625rem;
}

.updatePassword-input:focus {
  border: none;
  border-color: transparent;
  outline-color: #f2f2f2 !important;
}

.updatePassword-label {
  display: block;
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
  margin-top: 0rem;
  margin-bottom: 1.375rem;
  margin-left: 0.3125rem;
}

.updatePassword-label-success {
  display: block;
  color: #4ee28c;
  font-weight: 300;
  font-size: 0.75rem;
  margin-top: 0rem;
  margin-bottom: 1.375rem;
  margin-left: 0.3125rem;
}

.updatePassword-label-mini {
  display: block;
  margin-top: -0.3125rem;
  margin-bottom: 1.25rem;
  margin-left: 0.3125rem;
  color: #989898;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.6;
}

.updatePassword-label-mini-bold {
  display: block;
  margin-top: -0.625rem;
  margin-bottom: 1.25rem;
  margin-left: 0.3125rem;
  color: #d3d3d3;
  font-weight: 300;
  font-size: 0.75rem;
}

.updatePassword-errors {
  display: block;
  margin-top: 0rem;
  margin-bottom: 1.375rem;
  margin-left: 0.3125rem;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.75rem;
}

.updatePassword-errors-long {
  display: block;
  margin-top: 0rem;
  margin-bottom: 1.375rem;
  margin-left: 0.3125rem;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.6;
}

.updatePassword-errors-general {
  display: block;
  margin-top: 1rem;
  margin-left: 0.3125rem;
  margin-bottom: 0.625rem;
  text-align: center;
  color: #e2924e;
  font-weight: 300;
  font-size: 0.75rem;
  text-align: center;
}

.updatePassword-primary-button {
  display: block;
  background-color: #f22b3e;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.75rem 0;
}

.updatePassword-secondary-button {
  display: block;
  background-color: #373753;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1rem;
  width: 100% !important;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.75rem 0 0 0;
}

.updatePassword-cancel-button {
  display: block;
  color: #d3d3d3;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center;
}

@media only screen and (min-width: 38.75em) {
  .updatePassword-main-container {
    padding: 1.5rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .updatePassword-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1.75rem 5rem;
    width: 38rem;
  }
}

@media only screen and (min-width: 61.25em) {
  .updatePassword-main-container {
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
  }
  .updatePassword-card-container {
    background-color: #1e1e2b;
    border: none;
    border-radius: 0.3125rem;
    padding: 1.75rem 5rem;
    width: 38rem;
  }
}
/*# sourceMappingURL=UpdatePassword.css.map */