$bgColor: #131425;
$bgColor1: #282840;
$bgColor2: #373753;
$bgColor3: #4a4a64;
$bgColorNav: #07080f;
$bgColorPrimaryButton: #f22b3e;
$bgColorLink: #538fff;
$bgColorLike: #ff6969;
$bgColorSuccess: #4ee28c;
$bgColorError: #e2924e;
$primaryText: #f2f2f2;
$secondaryText: #d3d3d3;
$tertiaryText: #989898;
$hrColor: rgba(255, 255, 255, 0.2);
