$bgColor: #131425;
$bgColor1:  #282840;
$bgColor2: #373753;
$bgColor3: #4A4A64;
$bgColorNav: #07080F;
$bgColorPrimaryButton:  #F22B3E;
$bgColorLink: #538FFF;
$bgColorSuccess: #4EE28C;
$bgColorError: #E2924E;
$primaryText: #F2F2F2;
$secondaryText: #D3D3D3;
$tertiaryText: #989898;
