// $bgColor: #131425;
// $bgColor1: #282840;
// $bgColor2: #373753;
// $bgColor3: #4a4a64;
// $bgColorNav: #07080f;
// $bgColorPrimaryButton: #f22b3e;
// $bgColorLink: #538fff;
// $bgColorLike: #ff6969;
// $bgColorSuccess: #4ee28c;
// $bgColorError: #e2924e;
// $bgColorVerification: #bf7e45;
// $primaryText: #f2f2f2;
// $secondaryText: #d3d3d3;
// $tertiaryText: #989898;
// $blackText: #242424;
// $hrColor: rgba(255, 255, 255, 0.2);
$bgColor: #0d0d15;
$bgColor1: #282840;
$bgColor2: #373753;
$bgColor3: #4a4a64;
$bgColorNav: #07080f;
$bgColorDiv: #1e1e2b;
$bgColorPrimaryButton: #f22b3e;
$bgColorLink: #538fff;
$bgColorLike: #ff6969;
$bgColorSuccess: #4ee28c;
$bgColorError: #e2924e;
$bgColorVerification: #bf7e45;
$primaryText: #f2f2f2;
$secondaryText: #d3d3d3;
$tertiaryText: #989898;
$blackText: #242424;
$hrColor: rgba(255, 255, 255, 0.08);
